{% extends "base.html" %}

{% block content %}


<form class="login_form" method="post">
    <div>
        {{ form.csrf_token }}
    </div>
    <div class="form-outline mb-4">
        {{ form.username.label(class_="form-label") }}
        {{ form.username(class_="form-control") }}
        {% for error in form.username.errors %}
        <div class="error">{{ error }}</div>
        {% endfor %}
        {{ form.password.label(class_="form-label") }}
        {{ form.password(class_="form-control") }}
        {% for error in form.password.errors %}
        <div class="error">{{ error }}</div>
        {% endfor %}
    </div>

    <div class="col">
        <!-- Simple link -->
        <a href="#!">Forgot password?</a>
    </div>
    </div>

    <!-- Submit button -->
    {{form.submit(class_="btn btn-primary btn-block mb-4")}}
    <br>
    {{form.error(class_="error")}}
    <!-- Register buttons -->
    <div class="text-center">
        <p>Not a member? <a href="#!">Register</a></p>
    </div>
</form>
{% endblock %}